<ion-header>
  <ion-navbar color="sucees">
    <ion-title>
      Animals
    </ion-title>

    <ion-buttons end>
      <button ion-button *ngIf="!ordenando" (click)="ordenando = true">Editar</button>
      <button ion-button *ngIf="ordenando" (click)="ordenando = false">Listo</button>
    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content >

  <ion-refresher  [enabled]= "!ordenando" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-list [reorder]="   ordenando " (ionItemReorder)="reordenar( $event )">

    <ion-item-sliding *ngFor="let animal of animales; let i = index" >

      <ion-item tem-left  (click) = "reproducir( animal )" >
        <ion-avatar i>
          <img [src] = animal.imagen>
        </ion-avatar>

        <h2>{{ animal.nombre }}</h2>

        <ion-icon *ngIf="!animal.reproduciendo" ios="ios-play" md="md-play" item-right></ion-icon>
        <ion-icon *ngIf="animal.reproduciendo" ios="ios-pause" md="md-pause" item-right></ion-icon>

      </ion-item>

      <ion-item-options side="right">
        <button ion-button (click)="elimina( i )" color="danger">Borrar
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>



</ion-content>
